:root{
    --background-base: #121212;
    --background-elevated-base: #242424;
    --title-color: #ffff;
    --encore-body-font-stack: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,sans-serif;
    --encore-title-font-stack: CircularSpTitle,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,sans-serif;
}